<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Agregar Libro</h1>

        <!-- Formulario para agregar libro -->
        <form method="POST" class="search-form">
            <input type="text" name="titulo" value="{{ titulo }}" 
                    placeholder="Título del libro">
            <br>
            <input type="text" name="autor" value="{{ autor }}" 
                    placeholder="Autor del libro">
            <br>
            <input type="text" name="isbn" value="{{ isbn }}" 
                    placeholder="ISBN del libro">
            <br>
            <button type="submit">Agregar</button>
        </form>
    </div>
</body>
</html>