<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <!-- Formulario de préstamo -->
        <form method="POST" class="search-form">
            <input type="text" name="prestar" value="{{ isbn_prestar }}" 
                    placeholder="ISBN del libro a prestar/agregar">
            <button type="submit">Prestar</button>
            <button type="submit">Devolver</button>
            <a href="{{ url_for('agregar') }}"><input type="button" value="Agregar" class="btn btn-secondary" /></a>
        </form>
        <p>{{ mensaje }}</p>
    </div>
    <div class="container">
    {% block content %}
    {% endblock %}    
    </div>
</body>
</html>